/* .footer {
  min-height: 100px;
  background: #E5E5E5;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #B8B8B8;
} */

/* #footer-margin {
height: 100px;
} */

/* .filler {
  height: 100vh;
} */

/* .phantom {
  height: 60px
} */

.footer {
  /* position: fixed; */
  /* min-height: 100%; */
  /* bottom: 0; */
  /* width: 100%; */
  /* Set the fixed height of the footer here */
  /* height: 60px; */
  /* line-height: 60px; Vertically center the text there */
  /* background-color: #f5f5f5; */
  padding-top: 3vh
}